@import url('https://fonts.googleapis.com/css?family=Catamaran|Lato|Roboto&display=swap');

/* font-family: 'Roboto', sans-serif;
font-family: 'Lato', sans-serif;
font-family: 'Catamaran', sans-serif; */



:root {
    --light-gray: #2b3032a1;
    --primary-color: #45ccb8;
    --border: #2b303218;
    --text-color: #ff686b;
    --roboto: "Roboto", sans-serif;
}

.primary-color{
    color:var(--primary-color);
}

.bg-primary-color{
    background-color: var(--primary-color) !important;
}

.text-color{
    color: var(--text-color);
}

.lightblue{
    color: lightblue;
}

.nav-link{
    margin-left: 15px;
}

/* site-desc */

.site-btn{
    margin-bottom: 30%;
    padding: 0 50px;
    margin-left: 5%;
}

.site-title{
    margin-top: 20%;
    margin-bottom: 2%;
}

.site-desc{
    margin-bottom: 5%;
}

.site-content{
    background-image: url(../img/image.jpg);
    background-attachment: fixed;
    background-size: cover;
}

/* section-1 */

.heading-1{
    margin-bottom: 5%;
}

.para-1{
    margin-bottom: 10%;
}

/* section-2 */

.heading-2{
    margin-top: 20%;
}

.para-2{
    margin-bottom: 5%;
}

.show{
    margin-bottom: 30%;
    width: 50%;
}

.section-2 .container-fluid{
    background-image: url(../img/img1.jpg);
    background-size: cover;
    background-attachment: fixed;
    color: whitesmoke;
}

.section-3 .d-flex{
    margin: 5%;
}

.section-4 .para-4{
    color: whitesmoke;
}

.section-4 .heading-4{
    margin-top: 20%;
    color: whitesmoke;
}